---
import ThemeToggle from "@/components/ThemeToggle.astro";
import Layout from "@/layouts/Layout.astro";
import { Github, ArrowLeft, Copy, Check } from "lucide-astro";
import { db, ShortUrl } from "astro:db";

var insertedId: number | null = null;

const baseURL = import.meta.env.DEV
	? "http://localhost:4321"
	: "https://g-no.me";

if (Astro.request.method === "POST") {
	try {
		const formData = await Astro.request.formData();
		const url = formData.get("url")?.toString() || "";
		new URL(url);
		if (typeof url === "string") {
			insertedId = (
				await db.insert(ShortUrl).values({ url }).returning()
			)[0].id;
		}
	} catch (error) {
		console.error(error);
	}
}
---

<script is:inline>
	const audio = new Audio("/woo.mp3");
	function playAudio() {
		return new Promise((res) => {
			audio.onended = res;
			audio.play();
		});
	}

	const form = document.forms.namedItem("url-form");
	form?.addEventListener("submit", async (event) => {
		event.preventDefault();
		if (form.checkValidity()) {
			await playAudio();
			form.submit();
		}
	});

	async function copyToClipboard() {
		await navigator.clipboard.writeText(
			document.getElementById("shortened-url").getAttribute("value"),
		);
		document.getElementById("copy-icon").hidden = true;
		document.getElementById("check-icon").hidden = false;
		await new Promise((res) => setTimeout(res, 3000));
		document.getElementById("copy-icon").hidden = false;
		document.getElementById("check-icon").hidden = true;
	}
</script>

<Layout title="Gnome URL Shortener">
	<article>
		<header>
			<a href="/">
				<div class="header-link">
					<img
						src="/favicon.svg"
						alt="Logo"
						width="150"
						height="150"
					/>
					<h1>g-no.me</h1>
				</div>
			</a>
			<h5>a URL shortener with a twist</h5>
		</header>

		<main>
			{
				insertedId ? (
					<div class="success">
						<label for="shortened-url">Shortened URL</label>
						<fieldset role="group">
							<input
								type="text"
								id="shortened-url"
								name="shortened-url"
								value={`${baseURL}/${insertedId}`}
								readonly
							/>
							<button
								id="copybtn"
								type="button"
								class="outline"
								onclick="copyToClipboard(this)"
							>
								<Copy size="20" class="copy-icon" />
								<Check size="20" class="check-icon" hidden />
							</button>
						</fieldset>
						<a href="/" class="back-link">
							<ArrowLeft size="20" />
							Shorten another URL
						</a>
					</div>
				) : (
					<form method="POST" id="url-form" autocomplete="off">
						<label>
							<span class="help-text">Enter a URL</span>
							<input
								required
								type="url"
								id="url"
								name="url"
								maxlength="2048"
								placeholder="https://example.com"
							/>
						</label>
						<button id="shortenButton" type="submit">
							Make it short
						</button>
					</form>
				)
			}
		</main>

		<footer>
			<a
				href="https://github.com/code406/g-no.me"
				class="icon-link"
				title="Github Repo"
				aria-label="Github Repo"
			>
				<Github alt="Github" />
			</a>
			<ThemeToggle />
		</footer>
	</article>

	<style>
		header a {
			text-decoration: none;
		}
		header {
			text-align: center;
			padding: 1.5rem 1rem 1rem;
		}
		.back-link {
			display: flex;
			align-items: center;
			text-decoration: none;
			gap: 0.5rem;
			padding-top: 0.5rem;
		}
		form button {
			font-weight: bold;
			width: 100%;
		}
		article main {
			padding: 1rem 1rem 0.5rem;
		}
		form {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
		.help-text {
			display: block;
			padding-bottom: 0.5rem;
		}
		article {
			max-width: 600px;
			margin: auto;
		}
		footer {
			color: var(--pico-secondary);
			display: flex;
			opacity: 0.75;
			gap: 1.5rem;
			justify-content: end;
			align-items: center;
			padding: 1.25rem 2rem 1rem;
		}
		.icon-link {
			color: var(--pico-secondary);
			text-decoration: none;
			margin: 0;
			padding: 0.25rem 0.25rem 0.5rem;
		}
		@media (max-height: 700px), (max-width: 375px) {
			.header-link img {
				max-width: 100px;
			}
		}
		@media (max-height: 700px) and (min-width: 400px) {
			.header-link {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: end;
			}
			.header-link img {
				margin-right: 0.5rem;
				max-width: 100px;
			}
			.header-link h1 {
				padding-bottom: 0.25rem;
			}
		}
	</style>
</Layout>
