---
import Layout from "@/layouts/Layout.astro";
import { db, ShortUrl } from "astro:db";

import Card from "@/components/Card.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import BackLink from "@/components/BackLink.astro";
import CopyButton from "@/components/CopyButton.astro";

var insertedId = 0;

const baseURL = import.meta.env.DEV
	? "http://localhost:4321"
	: "https://g-no.me";

if (Astro.request.method === "POST") {
	try {
		const formData = await Astro.request.formData();
		const url = formData.get("url")?.toString() || "";
		new URL(url);
		if (typeof url === "string") {
			insertedId = (
				await db.insert(ShortUrl).values({ url }).returning()
			)[0].id;
		}
	} catch (error) {
		console.error(error);
	}
}
---

<script>
	const audio = new Audio("/woo.mp3");
	function playAudio() {
		return new Promise((res) => {
			audio.onended = res;
			audio.play();
		});
	}

	const form = document.forms.namedItem("url-form");
	form?.addEventListener("submit", (event) => {
		event.preventDefault();
		form.checkValidity() &&
			playAudio().then(() => {
				form.submit();
			});
	});
</script>

<Layout title="Gnome URL Shortener">
	<Card>
		<Header />
		<main>
			{
				insertedId === 0 ? (
					<form method="POST" id="url-form" autocomplete="off">
						<label for="url">Enter a URL</label>
						<input
							required
							type="url"
							id="url"
							name="url"
							maxlength="2048"
							placeholder="https://example.com"
						/>
						<button type="submit">Make it short</button>
					</form>
				) : (
					<>
						<div>
							<label for="short">Shortened URL</label>
							<fieldset role="group">
								<input
									type="text"
									id="short"
									name="short"
									value={`${baseURL}/${insertedId}`}
									readonly
								/>
								<CopyButton
									text={`${baseURL}/${insertedId}`}
									copiedIndicatorId="copied-indicator"
								/>
							</fieldset>
							<div id="copied-indicator" hidden>
								Copied!
							</div>
						</div>
						<BackLink />
					</>
				)
			}
		</main>
		<Footer />
	</Card>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-self: center;
		min-height: 230px;
	}
	#copied-indicator {
		text-align: end;
		margin-right: 0.25rem;
		font-weight: 500;
		color: var(--pico-primary);
	}
</style>
