---
import ThemeToggle from "@/components/ThemeToggle.astro";
import Layout from "@/layouts/Layout.astro";
import { Github } from "lucide-astro";

if (Astro.request.method === "POST") {
	try {
		const data = await Astro.request.formData();
		const url = data.get("url")?.toString() || "";
		new URL(url);
		console.log("Input URL: ", url);
		// API call
	} catch (error) {
		console.error(error);
	}
}
---

<script>
	const audio = new Audio("/woo.mp3");
	const form = document.forms.namedItem("url-form");
	const button = document.getElementById("shortenButton");

	function playAudio() {
		return new Promise((res) => {
			audio.onended = res;
			audio.play();
		});
	}

	function formSubmit() {
		form?.checkValidity() && playAudio().then(() => form.submit());
	}

	button?.addEventListener("click", formSubmit);
</script>

<Layout title="Gnome URL Shortener">
	<article>
		<header>
			<a href="/">
				<img src="/favicon.svg" alt="Logo" width="150" height="150" />
			</a>
			<a href="/">
				<h1>g-no.me</h1>
			</a>
			<h5>a URL shortener with a twist</h5>
		</header>
		<form method="POST" id="url-form" autocomplete="off">
			<label>
				<span class="help-text">Enter a URL</span>
				<input
					required
					type="url"
					id="url"
					name="url"
					maxlength="2048"
					placeholder="https://example.com"
				/>
			</label>
			<button id="shortenButton" type="submit">Make it short</button>
		</form>
		<footer>
			<a
				href="https://github.com/code406/g-no.me"
				class="icon-link"
				title="Github Repo"
				aria-label="Github Repo"
			>
				<Github alt="Github" />
			</a>
			<ThemeToggle />
		</footer>
	</article>

	<style>
		header a {
			text-decoration: none;
		}
		header {
			text-align: center;
			padding: 1.5rem 1rem 1rem;
		}
		button {
			font-weight: bold;
			width: 100%;
		}
		form {
			padding: 1rem 1rem 0.5rem;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
		.help-text {
			display: block;
			padding-bottom: 0.5rem;
		}
		article {
			max-width: 600px;
			margin: auto;
		}
		footer {
			color: var(--pico-secondary);
			display: flex;
			opacity: 0.75;
			gap: 1.5rem;
			justify-content: end;
			align-items: center;
			padding: 1.25rem 2rem 1rem;
		}
		.icon-link {
			color: var(--pico-secondary);
			text-decoration: none;
			margin: 0;
			padding: 0.25rem 0.25rem 0.5rem;
		}
	</style>
</Layout>
