---
import { Sun, Moon } from "lucide-astro";
---

<theme-toggle>
    <button class="as-link" title="Toggle theme">
        <span class="sr-only">Toggle theme</span>
        <Sun class="sun" />
        <Moon class="moon" />
    </button>
</theme-toggle>

<script>
    function rootInDarkMode() {
        return document.documentElement.getAttribute("data-theme") === "dark";
    }

    class ThemeToggle extends HTMLElement {
        #controller: AbortController | undefined;

        connectedCallback() {
            const button = this.querySelector("button")!;

            // set aria role value
            button.setAttribute("role", "switch");
            button.setAttribute("aria-checked", String(rootInDarkMode()));

            // Abort signal
            const { signal } = (this.#controller = new AbortController());

            // button event
            button.addEventListener(
                "click",
                () => {
                    // invert theme
                    let themeChangeEvent = new CustomEvent("theme-change", {
                        detail: {
                            theme: rootInDarkMode() ? "light" : "dark",
                        },
                    });
                    // dispatch event -> ThemeProvider.astro
                    document.dispatchEvent(themeChangeEvent);

                    // set the aria-checked attribute
                    button.setAttribute(
                        "aria-checked",
                        String(rootInDarkMode()),
                    );
                },
                { signal },
            );
        }

        disconnectedCallback() {
            this.#controller?.abort();
        }
    }

    customElements.define("theme-toggle", ThemeToggle);
</script>

<style>
    .as-link {
        background: none;
        margin: 0;
        padding: 0.25rem;
        border: 0;
        color: var(--pico-secondary);
        --pico-outline-width: 0;
    }
    .as-link:hover {
        color: var(--pico-secondary);
    }
    .sun {
        display: var(--pico-display-sun);
        --pico-outline-width: 0;
    }
    .moon {
        display: var(--pico-display-moon);
        --pico-outline-width: 0;
    }
</style>
